<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <stickyView
            closeable="true"
            id="emediaplayerplugin.ui.EMediaView"
            location="BOTTOM"
            moveable="true">
      </stickyView>
      <view
            category="entertainment"
            class="emediaplayerplugin.ui.EMediaView"
            icon="icons/media_player.png"
            id="emediaplayerplugin.ui.EMediaView"
            name="eMedia"
            restorable="true">
      </view>
      <category
            id="entertainment"
            name="Entertainment">
      </category>
   </extension>

</plugin>
